{% extends 'admin/base.html' %}

{% block title %}<title>Admin - Parents</title>{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Parents List</h2>

    <!-- Button to Add Student -->
    <a href="{{ url_for('admin.add_parent') }}" class="btn btn-primary mb-3">Add Parent</a>

    {% if parents %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Physical Address</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for parent in parents %}
                    <tr>
                        <td>{{ parent.id }}</td>
                        <td>{{ parent.first_name }}</td>
                        <td>{{ parent.last_name }}</td>
                        <td>{{ parent.gender }}</td>
                        <td>{{ parent.physical_address }}</td>
                        <td>{{ parent.email_address }}</td>
                        <td>{{ parent.phone_number }}</td>
                        <!-- Edit & Delete Button (Blue Pen Icon) -->
                        <td>
                            <a href="{{ url_for('admin.edit_parent', parent_id=parent.id) }}" class="text-primary">
                                <button class="btn btn-primary">Edit</button>
                            </a>
                            <a href="{{ url_for('admin.edit_parent', parent_id=parent.id) }}" class="text-danger">
                                <button class="btn btn-danger">X</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            No students available.
        </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}{% endblock %}
